<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="vue.js"></script>
    <script src="main.js"></script>
    <title>EasyRandomer - v1.0.0</title>
</head>

<body>
    <div id="app">
        <div id="title">{{ title }}</div>
        <input v-model="range[0]">
        <input v-model="range[1]">
        <button v-on:click="rand">Submit</button>
    </div>
    <script>
        function randomFrom(miner, maxer) {
            // The most important code in this program.
            return Math.floor(Math.random() * (maxer - miner + 1) + Number(miner));
        }
        new Vue({
            el: '#app',
            data: {
                range: [0, 0],
                title: 'EasyRandomer'
            },
            methods: {
                rand: function () {
                    // window.alert('The min number is: ' + this.range[0])
                    // window.alert('The max number is: ' + this.range[1])
                    this.title = randomFrom(this.range[0], this.range[1]);
                }
            }
        });
    </script>
</body>

</html>