*{
    margin: 0;
    padding: 0;
    font-family: 'Consoles';
    user-select: none;
}

body{
    background-color: #FFFAFA;
    overflow: hidden;
}

.shape_box{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.shape_box .shape{
    width: 100%;
    height: 30vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #FFE4E1;
    opacity: 0.8;
    filter: blur(5px);
}

#app{
    margin: 50px 20px 50px 20px;
}

.text_box{
    padding: 30px 0px 30px 0px;
    width: 100%;
    text-align: center;
}
.text_box .title{
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
    color: #EE9CA7;
    border-bottom: solid #EE9CA7 3px;
}
.text_box .text{
    text-align: center;
    font-size: 88px;
    font-weight: 600;
    letter-spacing: 2px;
    background-image: -webkit-linear-gradient(left, #FFDDE1, #EE9CA7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel_box{
    text-align: center;
    position: absolute;
    left: 50px;
}
.panel_box input{
    margin: 20px 10px 20px 10px;
    padding: 30px 10px 0px 10px;
    display: block;
    border: none;
    background: none;
    outline-style: none;
    color: #EE9CA7;
    font-size: 23px;
    font-weight: 600;
    border-bottom: solid #EE9CA7 2px;
    transition: all 0.2s;
}
.panel_box input:focus{
    color: #FA8072;
}
.panel_box input::-webkit-inner-spin-button{ appearance: none; }
.panel_box input::-webkit-outer-spin-button{ appearance: none; }
.panel_box input::placeholder{
    color: #EE9CA7;
    font-weight: 400;
}
.panel_box button{
    margin: 15px 10px 15px 10px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    text-align: center;
    border: none;
    background: none;
    outline-style: none;
    color: #EE9CA7;
    font-size: 23px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #FFE4E1;
    cursor: pointer;
    transition: all 0.2s;
}
.panel_box button:hover{
    color: #FA8072;
    box-shadow: #FFDDE1 2px 2px 2px;
    transform: translateY(-5px);
}

.list_box{
    position: absolute;
    right: 50px;

}
.list_box textarea{
    padding: 10px 30px 10px 30px;
    border: none;
    background: none;
    outline-style: none;
    resize: none;
    width: 30vw;
    height: 50vh;
    color: #EE9CA7;
    font-size: 23px;
    border-radius: 30px;
    background-color: #FFE4E1;
    box-shadow: #FFDDE1 2px 2px 2px;
    opacity: 0.8;
}
.list_box textarea::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #FFE4E1;
}

.list_box textarea::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #EE9CA7;
}

.list_box textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #FA8072;
}

@media screen and (min-width: 1300px){
    .text_box .text{ font-size: 128px; }
}